.NameImg {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: white;
  }
  
  .NameDiv {
    padding: 80px;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    transform: translateX(20%);
  }
  
  .NameDiv h1 {
    font-size: 70px;
    background-color: white;
    margin-bottom: -10px;
  }
  
  .NameDiv h6 {
    margin-top: 0;
    padding-bottom: 260px;
    background-color: white;
  }
  
  .NameDiv p {
    font-size: 20px;
    margin: 0;
  }
  
  .NameDiv button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .forIMG {
    background-color: white;
    width: 40%;
    transform: translateX(10%);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ironmanimg {
    width: 200%;
    max-width: 500px;
    height: auto;
    transform: scale(1.4);
  }